<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register user</title>
</head>
<body>
    <form action="/add-user" method="post">
        <input type="text" placeholder="username" name="username">
        <br>
        <input type="text" placeholder="firstname" name="firstname">
        <br>
        <input type="text" name="lastname" placeholder="lastname">
        <br>
        <input type="password" placeholder="password" name="password">
        <br>
        <input type="confirm_password" name="confirm_password" >
        <br>
        <button type="submit">submit</button>
    </form>
</body>
</html>